

/*--------- Abstracts variable ---------- */
@import "./abstracts/index";

/*---------- Reset css styles ----------- */
@import "reset";

/*------------ Components ---------------- */
@import "./component/index";

/*------------ Widgets ---------------- */
@import "./widgets";

/*------------ Sections ---------------- */
@import "./sections";

/*-------------- Responsive ----------------- */
@import "./responsive";
